#article-box{
    margin: 5px;
}

#article-box-block{

}

#article-box-next{
    display: flex;
    justify-content: center;
    background-color: #fff;
    position: relative;
    top: 8px;
}

#article-box-next button{
    background-color: #fff;
    border: none;
    margin: 10px;
}