*{
    margin: 0px;
    padding:0px;
}

body{
    background-color: rgba(0, 0, 0, 0.1);
    font-family: "Microsoft YaHei" ! important;
}
#html{
    min-height: 101%;
    min-width: 101%;
}


