*{
    margin: 0px;
    padding:0px;
    outline: none;
}

button{
    cursor: pointer;
}

a{
    outline: none;
}

body{
    background-color: #f6f6f6;
    font-family: "Microsoft YaHei" ! important;
}

a{
    text-decoration: none;
    outline: none;
}

li{
    list-style: none;
}
#html{
    min-height: 101%;
    min-width: 101%;
}
h3{
    font-size: 18px;
    font-weight: 600;
}

