*{
    margin: 0px;
    padding:0px;
}

body{
    /* background-image: url('~@/img/background/bg1.png'); */
    background-color: #2f3640;
    font-family: "Microsoft YaHei" ! important;
}
#html{
    min-height: 101%;
    min-width: 101%;
}


