#head-box {
  background-color: #ffffff;
  border-top: 3px solid #2f3640;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  animation: hd;
  animation-duration: 1s;


}

#head-box-contain {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1240px;
  height: 50px;
  padding: 0 20px;
}

#head-box-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  height: 50px;
}
#head-box-item a{
  color: black;
  text-decoration: none;
  padding: 0 15px;
  line-height: 50px;
}

#head-box-item a:hover {
  background-color: #bdc3c7;
  color: #ffffff;
}

.head-box-item a {
  text-decoration: none;
  color: black;
}


@keyframes hd {
  from {
    transform: translateY(-100%);
  }
}