#login-page-background{
	display: flex;
	justify-content: center;
	background-color:rgba(0,0,0,0.2);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	animation:move;
	animation-duration: 0.5s;
}


@keyframes move{
	from{
		transform: translateY(-100%);
	}
}

#login-page {
	background-color: #ffffff;
	border-radius: 3px;
	box-sizing: border-box;

	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 400px;
	position: fixed;
	top: 100px;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

}

#login-page-head {
	display: flex;
	justify-content: space-between;
	align-items:flex-end;
	border-bottom: rgba(0,0,0,0.2) solid 1px;
	font-weight: 600;
	font-size: 16px;
	color: #0077e6;
	padding: 20px;
}

#login-page-head button{
	display: block;
	background-color: transparent;
	border: 0;
	font-size: 20px;
	cursor: pointer;
	color: #8590a6;
}

#login-page-input{
	padding: 20px;
	
}

.input-class-box{
	border-bottom: rgba(0,0,0,0.2) solid 1px;
	margin: 20px 0;
}


.input-class {
	border: none;
	font-size: 16px;
	height: 48px;
	width: 220px;

}

#login-page-input-check{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
	
}

#create-acount{

	text-align: left;
	color: #0077e6;
	cursor: pointer;
}
#forget-password a{
	
	text-align: right;
	color: #8590a6;	
}



#login-page-input-button{
	box-sizing: border-box;
	padding: 20px 0;
}
.input-button {
	
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	color:white;
	border-radius: 3px;
	background-color:rgb(0, 132, 255);
	border: 0;
	outline: none;
	font-size: 16px;
}

.input-button:hover{
	background-color: rgb(0, 119, 230);
	color: #ffffff;
}


.error-tip{
	color: red;
}
