#login-box{
    display: flex;
    justify-content: center;
}

#login-box-login{
    border: none;
    padding: 5px 15px;
    margin: 0 5px;
   
}

#login-box-new{
    border: none;
    margin: 0 5px; 
    padding: 5px 15px;
    background-color: seagreen;
    color: #fff;
}
#login-box-after{
  display: flex;
  justify-content: center;
}
#login-box-after img{
  width: 32px;
  height: 32px;
  margin: 0 8px;
}

#login-box-after a{
  padding: 5px 0px;
    margin: 0 5px;
    text-decoration: none;
    color: black;
}

#login-box-after a:hover{
    color: seagreen;
}